


html, body{
    height: 100%;
    margin: 0;
    padding: 0;
}

body{

    
    display:flex;
    flex-direction: column;
    justify-content: space-between;

}



.header{
    background-color: darkblue;
    display: flex;
    flex-direction: column;
}


.actual-header{
   display:flex;
   flex: auto;
   width: 100%
}

ul{
    display:flex;
    margin-left: auto;
    gap: 8px;
    
}


.body-header{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 30px;
    gap: 40px;
}

.smoke-weed{
    align-self: flex-start;
}

.eldenlumi-body{
    display:flex;
    flex-direction: column;
}

.elden-ring1{
    width: 200px;
    height: 100px;
    display:flex;
}

.section2{
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
}

.image-list{
    width:250px;
    height:200px;
}


.actual-section3{
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: #eeeeee;
}

.section3{
    display:flex;
    background-color: #eeeeee;
    height: auto;
    width: 1000px;
    flex-direction: column;
  
    
}

.quote{
    flex-wrap:wrap;
    
}

.quote-author{
    display: flex;
    align-self:flex-end;
    
}

.section4{
    height:300px;
    display:flex;
    flex-direction: column;
    justify-content: flex-end;

    
    
}

.border{
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: blue;
    align-self: center;
    margin: 60px;
    height: 100px;
    width: 1200px;
    
}

.footer{
    display:flex;
    background-color: blue;
    justify-content: center;
}